.fondo {
    background-color: #061e46;
}

.fondo-text {
    color: white;
}


li {
    display: flex;
    align-items: center ;
    
}

a {
    display: flex;
    align-items: center;
    text-align: center;
}

.main {
    margin-bottom: 50px;
    margin-top: 80px;
}

.title {
    color: white;
}


.boton {
    width: 100%;
    height: 45px;
    background: #061e46;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}
