<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adress</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/resorces/css/dashboard/dashboard.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary fondo">
            <div class="container-fluid">
                <!-- Logo de Myomix en la parte superior izquierda  -->
                <a class="navbar-brand" href="dashboard.html">
                    <img src="/resorces/imgs/logo.png" alt="Logo" width="35" height="30"
                        class="d-inline-block align-text-top">
                    Myomix
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Interfaces accesibles por el usuario  -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link fondo-text" href="suppliers.html">
                                <ion-icon name="people-outline" class="nav-icono "></ion-icon>Proveedores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fondo-text" href="userscart.html"><ion-icon
                                    name="cart-outline"></ion-icon>Compras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fondo-text" href="bills.html"><ion-icon
                                    name="receipt-outline"></ion-icon>Facturas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fondo-text" href="users.html"><ion-icon
                                    name="person-circle-outline"></ion-icon>Usuarios</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fondo-text" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Clientes
                            </a>
                            <ul class="dropdown-menu fondo">
                                <li><a class="dropdown-item fondo-text" href="clients.html"><ion-icon
                                            name="person-outline"></ion-icon>Clientes</a></li>
                                <li><a class="dropdown-item fondo-text" href="adress.html"><ion-icon
                                            name="compass-outline"></ion-icon>Direcciones</a></li>
                                <li><a class="dropdown-item fondo-text" href="usersratings.html"><ion-icon
                                            name="star-half-outline"></ion-icon>Valoraciones</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fondo-text" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu fondo">
                                <li><a class="dropdown-item fondo-text" href="products.html"><ion-icon
                                            name="pricetags-outline"></ion-icon>Productos</a></li>
                                <li><a class="dropdown-item fondo-text" href="brands.html"><ion-icon
                                            name="library-outline"></ion-icon>Marcas</a></li>
                                <li><a class="dropdown-item fondo-text" href="category.html"><ion-icon
                                            name="bookmark-outline"></ion-icon>Categorias</a></li>
                                <li><a class="dropdown-item fondo-text" href="subcategories.html"><ion-icon
                                            name="bookmarks-outline"></ion-icon>Subcategorias</a></li>
                                <li><a class="dropdown-item fondo-text" href="images.html"><ion-icon
                                            name="images-outline"></ion-icon>Imagenes de productos</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <!-- Buacador -->
        <div class="sub-nav">
            <h2 class="title">Direcciones de los usuarios</h2>
            <br>
            <input type="text" name="ecode_searcher_input" id="ecode_searcher_input" class="ecode_searcher_input"
                placeholder="Buscar...">

            <button class="btn-search"><ion-icon name="search"></ion-icon></button>
            <!-- Botones de agregar y el de reportes -->
            <button class="agregar" data-bs-toggle="modal" data-bs-target="#agregarmodal"><ion-icon
                    name="add-circle"></ion-icon></button>
            <button class="reporte"><ion-icon name="list-circle"></ion-icon></button>
        </div>
        <!-- Tabla -->
        <div class="main-tabla">
            <table class="table table-primary table-striped table-responsive">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Calle-avenida</th>
                        <th scope="col">Condominio</th>
                        <th scope="col">Numero de casa</th>
                        <th scope="col">id_categoria_direccion</th>
                        <th scope="col">id_cliente</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Boulevard Constitucion</td>
                        <td>Altas vistas</td>
                        <td>20</td>
                        <td>1</td>
                        <td>1</td>
                        <td><button class="eliminar" data-bs-toggle="modal" data-bs-target="#eliminarmodal"><ion-icon
                                    name="remove-circle"></ion-icon></button><button class="editar"
                                data-bs-toggle="modal" data-bs-target="#editarmodal"><ion-icon
                                    name="create"></ion-icon></button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Calle Constitucion</td>
                        <td>Residencial buena vida</td>
                        <td>30</td>
                        <td>1</td>
                        <td>2</td>
                        <td><button class="eliminar" data-bs-toggle="modal" data-bs-target="#eliminarmodal"><ion-icon
                                    name="remove-circle"></ion-icon></button><button class="editar"
                                data-bs-toggle="modal" data-bs-target="#editarmodal"><ion-icon
                                    name="create"></ion-icon></button></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Avenida Juan pablo II</td>
                        <td>Residencial Altas vistas</td>
                        <td>15</td>
                        <td>1</td>
                        <td>3</td>
                        <td><button class="eliminar" data-bs-toggle="modal" data-bs-target="#eliminarmodal"><ion-icon
                                    name="remove-circle"></ion-icon></button><button class="editar"
                                data-bs-toggle="modal" data-bs-target="#editarmodal"><ion-icon
                                    name="create"></ion-icon></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Modal de agregar -->
        <div class="modal fade" id="agregarmodal" tabindex="-1" aria-labelledby="agregarmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="agregarmodalLabel">Agregar nueva direccion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3 needs-validation" validate>
                            <div class="col-md-4">
                                <label for="validationTooltip01" class="form-label">Calle o avenida de la
                                    direccion</label>
                                <input type="text" class="form-control" id="validationTooltip01" required>
                                <div class="invalid-feedback">
                                    !
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationTooltip01" class="form-label">Nombre del condominio</label>
                                <input type="text" class="form-control" id="validationTooltip01" required>
                                <div class="invalid-feedback">
                                    !
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationTooltip01" class="form-label">Numero del condominio</label>
                                <input type="text" class="form-control" id="validationTooltip01" required>
                                <div class="invalid-feedback">
                                    !
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationTooltip04" class="form-label">Categoria de direccion</label>
                                <select class="form-select" id="validationTooltip04" required>
                                    <option selected disabled value="">Casa</option>
                                    <option>Area de trabajo</option>
                                    <option>Otra</option>
                                </select>
                                <div class="invalid-feedback">
                                    !
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="validationTooltip05" class="form-label">Cliente</label>
                                <select class="form-select" id="validationTooltip05" required>
                                    <option selected disabled value="">Armando</option>
                                    <option>Alejandro</option>
                                </select>
                                <div class="invalid-feedback">
                                    !
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn" id="liveToastBtn" type="submit">Crear</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mensaje de confirmación -->

        <!-- <div class="position-fixed top-50 start-50 translate-middle" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Mensaje</strong>
                <small>Ahora</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Usuario creado con exito
            </div>
        </div>
    </div> -->


        <!-- Modal editar -->
        <div class="modal fade" id="editarmodal" tabindex="-1" aria-labelledby="editarmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarmodalLabel">Editar datos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3 needs-validation" validate>
                            <div class="col-md-4">
                                <label for="validationTooltip01" class="form-label">Calle o avenida de la
                                    direccion</label>
                                <input type="text" class="form-control" id="validationTooltip01" required>
                                <div class="invalid-feedback">
                                    !
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationTooltip01" class="form-label">Nombre del condominio</label>
                                <input type="text" class="form-control" id="validationTooltip01" required>
                                <div class="invalid-feedback">
                                    !
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationTooltip01" class="form-label">Numero del condominio</label>
                                <input type="text" class="form-control" id="validationTooltip01" required>
                                <div class="invalid-feedback">
                                    !
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationTooltip04" class="form-label">Categoria de direccion</label>
                                <select class="form-select" id="validationTooltip04" required>
                                    <option selected disabled value="">Casa</option>
                                    <option>Area de trabajo</option>
                                    <option>Otra</option>
                                </select>
                                <div class="invalid-feedback">
                                    !
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="validationTooltip05" class="form-label">Cliente</label>
                                <select class="form-select" id="validationTooltip05" required>
                                    <option selected disabled value="">Armando</option>
                                    <option>Alejandro</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <button class="btn" id="liveToastBtn" type="submit">Actualizar</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal eliminar -->
        <div class="modal fade" id="eliminarmodal" tabindex="-1" aria-labelledby="eliminarModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eliminarModalLabel">Eliminar Direccion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h2>¿Eliminar este registro?</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn-elm">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Categorias de direcciones  -->

        
        <!-- Buacador -->
        <div class="sub-nav">
            <h2 class="title">Categoria de direcciones</h2>
            <br>
            <input type="text" name="ecode_searcher_input" id="ecode_searcher_input" class="ecode_searcher_input"
                placeholder="Buscar...">

            <button class="btn-search"><ion-icon name="search"></ion-icon></button>
            <!-- Botones de agregar y el de reportes -->
            <button class="agregar" data-bs-toggle="modal" data-bs-target="#agregarmodal2"><ion-icon
                    name="add-circle"></ion-icon></button>
            <button class="reporte"><ion-icon name="list-circle"></ion-icon></button>
        </div>
        <!-- Tabla -->
        <div class="main-tabla">
            <table class="table table-primary table-striped table-responsive">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Categoria</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Casa</td>
                        <td><button class="eliminar" data-bs-toggle="modal" data-bs-target="#eliminarmodal2"><ion-icon
                                    name="remove-circle"></ion-icon></button><button class="editar"
                                data-bs-toggle="modal" data-bs-target="#agregarmodal2"><ion-icon
                                    name="create"></ion-icon></button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Trabajo</td>
                        <td><button class="eliminar" data-bs-toggle="modal" data-bs-target="#eliminarmodal2"><ion-icon
                                    name="remove-circle"></ion-icon></button><button class="editar"
                                data-bs-toggle="modal" data-bs-target="#agregarmodal2"><ion-icon
                                    name="create"></ion-icon></button></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Otro</td>
                        <td><button class="eliminar" data-bs-toggle="modal" data-bs-target="#eliminarmodal2"><ion-icon
                                    name="remove-circle"></ion-icon></button><button class="editar"
                                data-bs-toggle="modal" data-bs-target="#agregarmodal2"><ion-icon
                                    name="create"></ion-icon></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Modal de agregar y actualizar -->
        <div class="modal fade" id="agregarmodal2" tabindex="-1" aria-labelledby="agregarmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="agregarmodalLabel">Agregar categorias</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3 needs-validation" validate>
                            <div class="col-md-14">
                                <label for="validationTooltip01" class="form-label">Nombre de la categoria</label>
                                <input type="text" class="form-control" id="validationTooltip01" required>
                                <div class="invalid-feedback">
                                    !
                                </div>
                            </div>
                    </div>
                    <div class="col-12">
                        <button class="btn" id="liveToastBtn" type="submit">Guardar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        </div>

        <!-- Modal eliminar -->
        <div class="modal fade" id="eliminarmodal2" tabindex="-1" aria-labelledby="eliminarModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eliminarModalLabel">Eliminar categoria de direccion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h2>¿Eliminar este registro?</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn-elm">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="/resorces/js/dashboard/apexcharts/apexcharts.js"></script>
    <script src="/resorces/js/dashboard/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>