<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resorces/css/dashboard/dashboard.css">
</head>

<body>
    <header>
        <a href="" class="logo">Myomix</a>
        <nav class="navegation">
            <a href="dashboard.html">Inicio</a>
            <a href="supplier.html">Proveedores</a>
            <a href="shopping_cart.html">Categorias</a>
            <a class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">Productos</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item fondo-text" href="products.html"><ion-icon
                            name="pricetags-outline"></ion-icon>Productos</a></li>
                <li><a class="dropdown-item fondo-text" href="brands.html"><ion-icon
                            name="library-outline"></ion-icon>Marcas</a></li>
                <li><a class="dropdown-item fondo-text" href="category.html"><ion-icon
                            name="bookmark-outline"></ion-icon>Categorias</a></li>
                <li><a class="dropdown-item fondo-text" href="subcategories.html"><ion-icon
                            name="bookmarks-outline"></ion-icon>Subcategorias</a></li>
                <li><a class="dropdown-item fondo-text" href="images.html"><ion-icon
                            name="images-outline"></ion-icon>Imagenes de productos</a></li>
            </ul>
            <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">Clientes</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item fondo-text" href="clients.html"><ion-icon
                            name="person-outline"></ion-icon>Clientes</a></li>
                <li><a class="dropdown-item fondo-text" href="address.html"><ion-icon
                            name="compass-outline"></ion-icon>Direcciones</a></li>
                <li><a class="dropdown-item fondo-text" href="usersratings.html"><ion-icon
                            name="star-half-outline"></ion-icon>Valoraciones</a></li>
            </ul>
            <a href="shop.html">Usuarios</a>
            <a href="index.html">Log out</a>

        </nav>
    </header>

</body>

</html>