header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 100px;
    background: #061e46;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .logo {
    text-decoration: none;
}

.navegation input {
    margin-left: 40px;
    border-radius: 5px;
    border: #fff;
    height: 35px;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;

}

.navegation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.navegation .btn-search {
    width: 50px;
    height: 34px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

.navegation .btn-search:hover {
    background: #fff;
    color: #061e46;
}

.navegation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navegation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}


.navegation .btnLogin-popup:hover {
    background: #fff;
    color: #061e46;

}


.btn {
    width: 100%;
    height: 45px;
    background: #6384aa;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}




button.Boton {
    border-width: .1px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
    height: 41px;
    width: 65px;
}

button:hover {
    background-color: #7ACAEE;
    border-color: rgb(0, 0, 0);
    transition: all .2s;
}


button.button {
    width: 95px;
    height: 30px;
    border-radius: 30px;
    border-color: black;
}

img.background {
    height: 800px;
}

div.sticker {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

div.sticker img {
    width: 200px;
}

div.sticker .contacts {
    width: 750px;
}

div.space {
    height: 70px;
    background-color: #EEEEEE;
}

div.spacefirst {
    height: 13px;
    background-color: #EEEEEE;
}

div.contacts-space {
    width: 800px;
    background-color: #EEEEEE;
}

div.contacts {
    width: 1000px;
    height: 718px;
    background-color: #7ACAEE;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: black;
}

div.footer-section {
    height: 155px;
    width: 450px;
    color: white;
}

div.we {
    text-align: center;
    justify-content: space-around;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

div.contacts {
    text-align: center;
}

div.object {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

div.flex-objects {
    height: 500px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}