header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 100px;
    background: #061e46;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .logo {
    text-decoration: none;
}

.navegation input {
    margin-left: 40px;
    border-radius: 5px;
    border: #fff;
    height: 35px;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;

}

.navegation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.navegation .btn-search {
    width: 50px;
    height: 34px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

.navegation .btn-search:hover {
    background: #fff;
    color: #061e46;
}

.navegation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navegation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}


.navegation .btnLogin-popup:hover {
    background: #fff;
    color: #061e46;

}


.btn {
    width: 100%;
    height: 45px;
    background: #6384aa;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}


div.tienda {
    display: flex;
    flex-wrap: nowrap;
    justify-items: flex-start;
    padding-top: 90px;
    padding-left: 15px;
}

div.redes {
    display: flex;
    flex-wrap: nowrap;
    justify-items: flex-start;
    justify-content: space-between;
}

.red {
    font-size: 50px;
}

button.app {
    border-radius: 15px;
    height: 70px;
    width: 70px;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0);
}

div.red-espacio {
    width: 100px;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: black;
}

div.footer-section {
    height: 135px;
    width: 450px;
    color: white;
}

/* footer a {
    color: white;
}

a.gray {
    color: white;
}

a.white {
    color: #7ACAEE;
} */

.boton {
    width: 100%;
    height: 45px;
    background: #6384aa;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}