header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 100px;
    background: #061e46;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .logo {
    text-decoration: none;
}

.navegation input {
    margin-left: 40px;
    border-radius: 5px;
    border: #fff;
    height: 35px;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;

}

.navegation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

section a {
    position: relative;
    font-size: 1.1em;
    color: #061e46 !important;
    text-decoration: none;
    font-weight: 500;
}

.navegation .btn-search {
    width: 50px;
    height: 34px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

.navegation .btn-search:hover {
    background: #fff;
    color: #061e46;
}

.navegation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navegation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}


.navegation .btnLogin-popup:hover {
    background: #fff;
    color: #061e46;

}


.btn {
    width: 40%;
    height: 45px;
    background: #6384aa;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}



#btnn {
    width: 40%;
    height: 45px;
    background: #061e46;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

#btnn:hover {
    color: #061e46;
    background-color: #fff;
    border: groove;
    border-color: #061e46;
    transition: all .2s;
}


div.content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    height: 500px;
    background-color: #EEEEEE;
}

div.product {
    width: 700px;
    background-color: #ffffff;
    border-radius: 15px;
    border-width: 1px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

div.info {
    width: 600px;
    background-color: #7ac9ee00;
}

img {
    text-align: center;
    min-width: 100px;
    min-height: 100px;
}

div.image {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: black;
}

div.footer-section {
    height: 155px;
    width: 450px;
    color: white;
}

div.stars {
    font-size: 30px;
}

div.reviews {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

div.actions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 900px;
}

input.cant {
    background-color: #CDCDCD;
    border-color: rgba(0, 0, 0, 0);
    width: 40px;
    height: 30px;
}

div.control {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

div.option {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #cdcdcd7a;
    text-align: center;
    font-size: 40px;
}

div.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button.btn-info {
    background-color: #7ACAEE;
    color: white;
}

button.btn-info:hover {
    color: white;
}

div.option:hover {
    cursor: pointer;
    border-color: black;
    transition: .5s;
    border-width: 1px;
}

div.logo:hover {
    cursor: pointer;
}