header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 100px;
    background: #061e46;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .logo {
    text-decoration: none;
}

.navegation input {
    margin-left: 40px;
    border-radius: 5px;
    border: #fff;
    height: 35px;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;

}

.navegation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.navegation .btn-search {
    width: 50px;
    height: 34px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

.navegation .btn-search:hover {
    background: #fff;
    color: #061e46;
}

.navegation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navegation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}


.navegation .btnLogin-popup:hover {
    background: #fff;
    color: #061e46;

}


.btn {
    width: 100%;
    height: 45px;
    background: #6384aa;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}




button.Boton {
    width: 40%;
    height: 45px;
    background: transparent;
    border: black;
    border-style: groove;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
    transition: .5s;
}

button:hover {
    background: #061e46;
    color: #fff !important;
    border: none;
    transition: all .2s;
}



div.buscar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    height: 50px;
    width: 60px;
}

button.button {
    width: 95px;
    height: 30px;
    border-radius: 30px;
    border-color: black;
}

div.filtros {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

div.contenedor {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

div.objetos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-radius: 15px;
}

div.opcion-filtros {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

}

button.opcion {
    height: 75px;
    width: 75px;
    border-radius: 10px;
    background-color: #EEEEEE;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    justify-content: center;
}

button.opcion:hover {
    background-color: #7ACAEE;
    border-color: rgba(0, 0, 0, 0.556);
    border-width: 1px;
    transition: all .2s;
}

button.opcion.last {
    background-color: #EEEEEE;
    opacity: 30px;
}

button.opcion.last:hover {
    background-color: #dedddd;
    opacity: 30px;
}

button.agregar {
    width: 150px;
}

div.card {
    border-radius: 15px;
    max-height: 500px;
    font-size: small;
    background-color: rgba(255, 255, 255, 0.634);
    text-align: center;
}

div.card img {
    max-height: 200px;
    max-width: 150px;
    min-height: 175px;
    min-width: 150;
    align-self: center;
}

div.productos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}


footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: black;
}

div.footer-section {
    height: 155px;
    width: 450px;
    color: white;
}

div.card:hover {
    cursor: pointer;
    transition: .5s;
    border-color: black;
}

div.logo:hover {
    cursor: pointer;
}