<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>product_view</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link rel="stylesheet" href="../../resorces/css/product_view.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
	<header>
		<a href="" class="logo">Myomix</a>
		<nav class="navegation">
			<a href="index.html">Inicio</a>
			<a href="sign_up.html">Mi cuenta</a>
			<a href="shopping_cart.html">Carrito</a>
			<a href="shop.html">Comprar</a>
			<input type="text" name="ecode_searcher_input" id="ecode_searcher_input" class="ecode_searcher_input"
				placeholder="Buscar...">

			<button class="btn-search"><ion-icon name="search"></ion-icon></button>

			<button class="btnLogin-popup">Login</button>
		</nav>
	</header>
	<div style="height: 80px;"></div>


	<div style="height: 800px; background-color: #EEEEEE;">

		<section>
			<!-- Breadcrumb -->
			<div style="height: 50px; background-color: #EEEEEE;"></div>
			<div class="navegation" style="height: 40px;">
				<div style="width: 50px;"></div>
				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">inicio</a></li>
						<li class="breadcrumb-item"><a href="shop.html">Tienda</a></li>
						<li class="breadcrumb-item active" aria-current="page">Producto</li>
					</ol>
				</nav>
			</div>

			<!-- Contenido -->
			<div class="content">
				<div style="width: 50px;"></div>
				<div class="product">
					<div style="width: 30px;"></div>
					<div class="options" style="width: 100px;">
						<div class="option">
							<ion-icon name="image-outline"></ion-icon>
						</div>
						<div class="option">
							<ion-icon name="image-outline"></ion-icon>
						</div>
						<div class="option">
							<ion-icon name="image-outline"></ion-icon>
						</div>
						<div class="option">
							<ion-icon name="image-outline"></ion-icon>
						</div>
						<div class="option">
							<ion-icon name="image-outline"></ion-icon>
						</div>
						<div class="option">
							<ion-icon name="image-outline"></ion-icon>
						</div>
					</div>
					<div class="image">
						<img src="resorces/imgs/products/refrigeradoras.jpg" alt="">
					</div>
				</div>
				<div style="width: 50px;"></div>
				<div class="info">
					<h1>Lavadora Samsung Ultra pro +</h1>
					<div class="reviews">
						<div class="stars">
							<ion-icon name="star-outline"></ion-icon>
							<ion-icon name="star-outline"></ion-icon>
							<ion-icon name="star-outline"></ion-icon>
							<ion-icon name="star-outline"></ion-icon>
							<ion-icon name="star-outline"></ion-icon>
						</div>
						<div style="width: 10px;"></div>
						<h4 class="text-end fw-light">120 reviews</h4>
						<div style="width: 10px;"></div>
						<div>
							<span class="badge rounded-pill text-bg-success"
								style="background-color: rgb(9, 187, 9);">En
								Stock</span>
						</div>
					</div>
					<h3 class="fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque facilis
						delectus iure voluptatum, quia quas tempore praesentium quibusdam. Eaque veritatis eos officiis
						quod
						error laborum unde dolorum ea eligendi inventore?</h3>
					<h1>$500</h1>
					<div style="height: 10px;"></div>
					<div class="actions">
						<div class="control">
							<h4 class="fw-light">Selec. Cant.</h4>
							<div style="width:10px;"></div>
							<input class="input is-hovered cant" type="text">
						</div>
						<div style="width: 20px;"></div>
						<button type="button" class="btn btn-info" id="btnn"
							onclick="location.href='shopping_cart.html'">Añadir
							al
							carrito</button>
					</div>
				</div>
			</div>
	</div>
	</section>

	<!-- Pie de pagina -->

	<footer>
		<div style="height: 45px;"></div>
		<div class="footer-section">
			<h3>Links</h3>
			<span>
				<h6 class="has-text-weight-light	"><a href="index.html" class="link-light">inicio</a></h6>
				<h6 class="has-text-weight-light	"><a href="login.html" class="link-light">Gestionar mi perfil</a></h6>
				<h6 class="has-text-weight-light	"><a href="shopping_cart.html" class="link-light">Mi carrito de
						compras</a></h6>
		</div>
		<div class="footer-section">
			<h3>Contactanos</h3>
			<span>
				<h6 class="has-text-weight-light	">atencionAlcliente@myomixbisness.com</h6>
				<h6 class="has-text-weight-light	">Llamanos al: 7764-9087</h6>
		</div>
		<div class="footer-section">
			<h3>Mas de nosotros</h3>
			<span>
				<h6 class="has-text-weight-light	"><a href="about_us.html" class="link-light">Sobre nosotros</a></h6>
				<h6 class="has-text-weight-light	"><a href="" class="link-light">Servicios</a></h6>
				<h6 class="has-text-weight-light	"><a href="" class="link-light">Necesitas ayuda?</a></h6>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="../../resorces/js/product.js"></script>
	<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>